# Frameworks
torch==2.9.0
# we shall upgrade torch for blackwell when it is stable
transformers
datasets
modal

# DSLs
nvidia-cutlass-dsl
tilelang
apache-tvm
triton

# helper
tqdm
packaging
pydra_config
pytest
ninja
cupy-cuda12x

# Numerics
einops
dotenv
numpy

openai
litellm[proxy]

